In [2]:
import pandas as pd

In [3]:
# Reading all input files
accounts = pd.read_csv("../data/raw/ravenstack_accounts.csv")
subscriptions = pd.read_csv("../data/raw/ravenstack_subscriptions.csv")
usage = pd.read_csv("../data/raw/ravenstack_feature_usage.csv")
tickets = pd.read_csv("../data/raw/ravenstack_support_tickets.csv")
churn = pd.read_csv("../data/raw/ravenstack_churn_events.csv")

In [4]:
accounts.head()

,account_id,account_name,industry,country,signup_date,referral_source,plan_tier,seats,is_trial,churn_flag
0,A-2e4581,Company_0,EdTech,US,2024-10-16,partner,Basic,9,False,False
1,A-43a9e3,Company_1,FinTech,IN,2023-08-17,other,Basic,18,False,True
2,A-0a282f,Company_2,DevTools,US,2024-08-27,organic,Basic,1,False,False
3,A-1f0ac7,Company_3,HealthTech,UK,2023-08-27,other,Basic,24,True,False
4,A-ce550d,Company_4,HealthTech,US,2024-10-27,event,Enterprise,35,False,True

In [5]:
subscriptions.head()

,subscription_id,account_id,start_date,end_date,plan_tier,seats,mrr_amount,arr_amount,is_trial,upgrade_flag,downgrade_flag,churn_flag,billing_frequency,auto_renew_flag
0,S-8cec59,A-3c1a3f,2023-12-23,2024-04-12,Enterprise,14,2786,33432,False,False,False,True,monthly,True
1,S-0f6f44,A-9b9fe9,2024-06-11,NaN,Pro,17,833,9996,False,False,False,False,monthly,True
2,S-51c0d1,A-659280,2024-11-25,NaN,Enterprise,62,0,0,True,True,False,False,annual,False
3,S-f81687,A-e7a1e2,2024-11-23,2024-12-13,Enterprise,5,995,11940,False,False,False,True,monthly,True
4,S-cff5a2,A-ba6516,2024-01-10,NaN,Enterprise,27,5373,64476,False,False,False,False,monthly,True

In [6]:
usage.head()

,usage_id,subscription_id,usage_date,feature_name,usage_count,usage_duration_secs,error_count,is_beta_feature
0,U-1c6c24,S-0fcf7d,2023-07-27,feature_20,9,5004,0,False
1,U-f07cb8,S-c25263,2023-08-07,feature_5,9,369,0,False
2,U-096807,S-f29e7f,2023-12-07,feature_3,9,1458,0,False
3,U-6b1580,S-be655e,2024-07-28,feature_40,5,2085,0,False
4,U-720a29,S-f9b1d0,2024-12-02,feature_12,12,900,0,False

In [7]:
tickets.head()

,ticket_id,account_id,submitted_at,closed_at,resolution_time_hours,priority,first_response_time_minutes,satisfaction_score,escalation_flag
0,T-0024de,A-712f1c,2023-07-27,2023-07-28 03:00:00,27.0,high,74,NaN,False
1,T-4d04b9,A-e43bf7,2024-07-08,2024-07-09 03:00:00,27.0,urgent,144,NaN,False
2,T-d5e12f,A-0f3e88,2024-10-17,2024-10-17 19:00:00,19.0,urgent,93,4.0,False
3,T-dfce9a,A-4c56c9,2024-09-08,2024-09-09 23:00:00,47.0,medium,126,5.0,False
4,T-c59f77,A-6f8ad2,2024-11-30,2024-12-01 02:00:00,26.0,medium,8,NaN,False

In [8]:
churn.head()

,churn_event_id,account_id,churn_date,reason_code,refund_amount_usd,preceding_upgrade_flag,preceding_downgrade_flag,is_reactivation,feedback_text
0,C-816288,A-c37cab,2024-10-27,pricing,4.03,False,False,False,switched to competitor
1,C-5a81e7,A-37f969,2024-06-25,support,96.45,True,False,False,NaN
2,C-a174be,A-b07346,2024-11-12,budget,0.00,False,False,False,missing features
3,C-accb39,A-1e50e0,2023-11-01,budget,54.94,False,False,False,switched to competitor
4,C-92f889,A-956988,2024-12-30,unknown,0.00,False,True,True,too expensive

In [9]:
tables = {
    "accounts": accounts,
    "subscriptions": subscriptions,
    "feature_usage": usage,
    "support_tickets": tickets,
    "churn_events": churn,
}

In [10]:
# 1) Shapes + column names
for name, df in tables.items():
    print(f"\n{name}: {df.shape[0]:,} rows x {df.shape[1]} cols")
    print(df.columns.tolist())

accounts: 500 rows x 10 cols
['account_id', 'account_name', 'industry', 'country', 'signup_date', 'referral_source', 'plan_tier', 'seats', 'is_trial', 'churn_flag']

subscriptions: 5,000 rows x 14 cols
['subscription_id', 'account_id', 'start_date', 'end_date', 'plan_tier', 'seats', 'mrr_amount', 'arr_amount', 'is_trial', 'upgrade_flag', 'downgrade_flag', 'churn_flag', 'billing_frequency', 'auto_renew_flag']

feature_usage: 25,000 rows x 8 cols
['usage_id', 'subscription_id', 'usage_date', 'feature_name', 'usage_count', 'usage_duration_secs', 'error_count', 'is_beta_feature']

support_tickets: 2,000 rows x 9 cols
['ticket_id', 'account_id', 'submitted_at', 'closed_at', 'resolution_time_hours', 'priority', 'first_response_time_minutes', 'satisfaction_score', 'escalation_flag']

churn_events: 600 rows x 9 cols
['churn_event_id', 'account_id', 'churn_date', 'reason_code', 'refund_amount_usd', 'preceding_upgrade_flag', 'preceding_downgrade_flag', 'is_reactivation', 'feedback_text']

In [11]:
# 2) Missing values (top offenders)
for name, df in tables.items():
    na = df.isna().sum()
    na = na[na > 0].sort_values(ascending=False)
    print(f"\n{name} missing values (only >0 shown):")
    display(na.head(15))

accounts missing values (only >0 shown):

Series([], dtype: int64)

subscriptions missing values (only >0 shown):

end_date    4514
dtype: int64

feature_usage missing values (only >0 shown):

Series([], dtype: int64)

support_tickets missing values (only >0 shown):

satisfaction_score    825
dtype: int64

churn_events missing values (only >0 shown):

feedback_text    148
dtype: int64

In [12]:
# 3) Parse dates (we are not transforming yet, just typing correctly)
accounts["signup_date"] = pd.to_datetime(accounts["signup_date"], errors="coerce")

subscriptions["start_date"] = pd.to_datetime(subscriptions["start_date"], errors="coerce")
subscriptions["end_date"] = pd.to_datetime(subscriptions["end_date"], errors="coerce")

usage["usage_date"] = pd.to_datetime(usage["usage_date"], errors="coerce")

tickets["submitted_at"] = pd.to_datetime(tickets["submitted_at"], errors="coerce")
tickets["closed_at"] = pd.to_datetime(tickets["closed_at"], errors="coerce")

churn["churn_date"] = pd.to_datetime(churn["churn_date"], errors="coerce")

# Quick check: any date parse failures?
date_cols = {
    "accounts": ["signup_date"],
    "subscriptions": ["start_date", "end_date"],
    "feature_usage": ["usage_date"],
    "support_tickets": ["submitted_at", "closed_at"],
    "churn_events": ["churn_date"],
}

for name, cols in date_cols.items():
    df = tables[name]
    for c in cols:
        bad = df[c].isna().sum()
        print(f"{name}.{c}: {bad} unparsable / null")

accounts.signup_date: 0 unparsable / null
subscriptions.start_date: 0 unparsable / null
subscriptions.end_date: 4514 unparsable / null
feature_usage.usage_date: 0 unparsable / null
support_tickets.submitted_at: 0 unparsable / null
support_tickets.closed_at: 0 unparsable / null
churn_events.churn_date: 0 unparsable / null

In [13]:
# 4) ID uniqueness sanity checks
print("accounts.account_id unique:", accounts["account_id"].is_unique)
print("subscriptions.subscription_id unique:", subscriptions["subscription_id"].is_unique)
print("feature_usage.usage_id unique:", usage["usage_id"].is_unique)
print("support_tickets.ticket_id unique:", tickets["ticket_id"].is_unique)
print("churn_events.churn_event_id unique:", churn["churn_event_id"].is_unique)

accounts.account_id unique: True
subscriptions.subscription_id unique: True
feature_usage.usage_id unique: False
support_tickets.ticket_id unique: True
churn_events.churn_event_id unique: True

In [14]:
# 5) Referential integrity checks (do foreign keys point to valid parents?)

# subscriptions -> accounts
missing_accounts_in_subs = set(subscriptions["account_id"]) - set(accounts["account_id"])
print("subscriptions.account_id missing in accounts:", len(missing_accounts_in_subs))

# churn_events -> accounts
missing_accounts_in_churn = set(churn["account_id"]) - set(accounts["account_id"])
print("churn_events.account_id missing in accounts:", len(missing_accounts_in_churn))

# support_tickets -> accounts
missing_accounts_in_tickets = set(tickets["account_id"]) - set(accounts["account_id"])
print("support_tickets.account_id missing in accounts:", len(missing_accounts_in_tickets))

# feature_usage -> subscriptions
missing_subs_in_usage = set(usage["subscription_id"]) - set(subscriptions["subscription_id"])
print("feature_usage.subscription_id missing in subscriptions:", len(missing_subs_in_usage))

subscriptions.account_id missing in accounts: 0
churn_events.account_id missing in accounts: 0
support_tickets.account_id missing in accounts: 0
feature_usage.subscription_id missing in subscriptions: 0

In [15]:
# 6) Timeline coverage (to understand the project time span)
print("accounts signup range:", accounts["signup_date"].min(), "->", accounts["signup_date"].max())
print("subscriptions start range:", subscriptions["start_date"].min(), "->", subscriptions["start_date"].max())
print("usage date range:", usage["usage_date"].min(), "->", usage["usage_date"].max())
print("tickets submitted range:", tickets["submitted_at"].min(), "->", tickets["submitted_at"].max())
print("churn date range:", churn["churn_date"].min(), "->", churn["churn_date"].max())

accounts signup range: 2023-01-02 00:00:00 -> 2024-12-31 00:00:00
subscriptions start range: 2023-01-09 00:00:00 -> 2024-12-31 00:00:00
usage date range: 2023-01-01 00:00:00 -> 2024-12-31 00:00:00
tickets submitted range: 2023-01-02 00:00:00 -> 2024-12-31 00:00:00
churn date range: 2023-01-25 00:00:00 -> 2024-12-31 00:00:00

In [16]:
print("accounts signup range:", accounts["signup_date"].min(), "->", accounts["signup_date"].max())
print("subscriptions start range:", subscriptions["start_date"].min(), "->", subscriptions["start_date"].max())
print("usage date range:", usage["usage_date"].min(), "->", usage["usage_date"].max())
print("tickets submitted range:", tickets["submitted_at"].min(), "->", tickets["submitted_at"].max())
print("churn date range:", churn["churn_date"].min(), "->", churn["churn_date"].max())

accounts signup range: 2023-01-02 00:00:00 -> 2024-12-31 00:00:00
subscriptions start range: 2023-01-09 00:00:00 -> 2024-12-31 00:00:00
usage date range: 2023-01-01 00:00:00 -> 2024-12-31 00:00:00
tickets submitted range: 2023-01-02 00:00:00 -> 2024-12-31 00:00:00
churn date range: 2023-01-25 00:00:00 -> 2024-12-31 00:00:00